[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"

[packages]
jupyterlab = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-gallery = "*"
nbsphinx = "*"
pylint = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
